html{
    font-family: 'Open Sans' Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
#navbar a{
    display:block;

}
@media (min-width:768px) and (max-width:1605px){
    #navbar{
        position:fixed;
        top:0px;
        left:0px;
        height:100%;
        min-width:290px;
        width:300px;
        border-right:solid;
        border-color:darkgray;
    }   
}

#navbar header{
    text-align:center;
    color:black;
    font-size: 1.5em;
    margin:10px;
}

#navbar ul{
    height:80%;
    padding:0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li{
    position:relative;
    border-top:1px solid;
    width:100%;
    list-style: none;
}

#navbar a{
    color:black;
    text-decoration:none ;
    padding:10px 30px;
}

main{
    position:absolute;
    left:310px;
    padding:20px;
}

.main-section header{
    font-size: 1.5em;
}

.content{
    margin: 20px;
}

code{
    display: block;
    background-color: gainsboro;
    font-size: 1.25em;
    padding:15px;
    margin:10px;
}